body{
background-color: #ff6600;    
}
#lens{
 width:90px ;
}
#item1{
    width:400px ;
    border-radius:10px ;
}
#item2{
    width:400px ;
    border
}   
#item3{
    width:400px;
}
#last{
    border-radius: 10px;
}